<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="startup.txt" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python311\python.exe|D:\home\python311\python.exe" resourceType="Unspecified" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="startup.txt" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
